---
import { Image } from 'astro:assets';
import QuantityIcon from '../icons/Quantity.astro';
import PriceTagIcon from '../icons/PriceTag.astro';
import DollarIcon from '../icons/Dollar.astro';
import type { Product } from '../types';
import EditIcon from '../icons/Edit.astro';
import DeleteIcon from '../icons/Delete.astro';
import DeleteButton from '../components/delete-button';

interface Props {
  product: Product;
}

const { product } = Astro.props;
const {
  amount,
  description,
  image_url: imageUrl,
  name,
  price,
  total_price: totalPrice,
  date,
  id,
} = product;
---

<section
  class='bg-slate-700 flex flex-col gap-3 p-5 rounded-md max-w-xs items-center text-ellipsis relative'
>
  <h3 class='font-medium text-2xl'>{name}</h3>
  <Image
    src={imageUrl}
    alt='A bird'
    width='175'
    height='175'
    class='aspect-square rounded-md object-cover'
  />
  <p>{description}</p>
  <div class='flex gap-2 border border-white rounded-xl p-3 bg-slate-800'>
    <div class='flex flex-col items-center min-w-[48px]'>
      <span class='text-sm text-center'>Cantidad</span>
      <QuantityIcon class='text-2xl' />
      <span>{amount}</span>
    </div>
    <div class='py-2'>
      <div class='h-full w-[1px] bg-white'></div>
    </div>
    <div class='flex flex-col items-center min-w-[48px]'>
      <span class='text-sm text-center'>Precio</span>
      <PriceTagIcon class='text-2xl' />
      <span>{price}</span>
    </div>
    <div class='py-2'>
      <div class='h-full w-[1px] bg-white'></div>
    </div>
    <div class='flex flex-col items-center min-w-[48px]'>
      <span class='text-sm text-center'>Total</span>
      <DollarIcon class='text-2xl' />
      <span>{totalPrice}</span>
    </div>
  </div>
  <p class='text-xs'>
    Añadido: {
      date.toLocaleDateString('es-CO', {
        month: 'long',
        day: 'numeric',
        year: 'numeric',
      })
    }
  </p>
  <div class='mt-3 flex gap-4'>
    <a
      href=`editProduct/${id}`
      class='border border-white rounded-xl p-2 hover:bg-slate-800 hover:shadow-xl transition hover:scale-105'
    >
      <EditIcon class='inline-block relative bottom-[2px]' />
       Editar
    </a>
    <DeleteButton id={id} client:visible />
  </div>
</section>
